:root
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body,
.header
{
   background-color: #aaa;
}

body
{
    margin: 0;
    padding: 0;
    overflow-x: none;
    overflow-y: scroll;
}

.header
{
    position: fixed;
    width: 1024px;
}

a
{
    text-decoration: none;
    color: black;
}

a.inline
{
    text-decoration: underline;
}

li.bullet
{
    text-decoration: underline;
    font-weight: bold;
}

.figures
{
    float: left;
    width: 512px;
}

.contentText
{
    float: left;
    text-align: justify;
    width: 480px;
    padding: 16px;
}

img.figure
{
    width: 100%;
}

div.figure
{
    width: 500px;
    padding: 6px;
    text-align: center;
    overflow: hidden;
}

h1
{
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
}

.caption
{
}

.buffer,
.header
{
    height: 32px;
}


.page
{
    background-color: #fff;
    width: 1024px;
    margin: 0 auto;
    display: block;
    overflow: auto;
}

.pub
{
    padding: 10px;
    text-align: left;
}

.pubTitle
{
    font-style: italic;
}

.pubJournal,
.pubAuthors
{
    padding-left: 15px;
    font-size: 15px;
    color: #555;
}

.tab
{
    float: left;
    margin-right: 10px;
    text-align: center;
    width: 128px;
    height: 32px;
    line-height: 32px;
    background-color: #ddd;
}

#selected 
{
    background-color: #fff;
}

.tab:hover
{
    background-color: #fff;
}

.soundcloud_player
{
    height: 128px;
    width: 100%;
}
