div.vector, div.vectorEquals, span.offScreen
{
    float: left;
    font-family: monospace;
    font-size: 20;
}

div.vectorEquals
{    
    line-height: 60px;
    margin: 20px;
}

div.vectorEquation
{
    width: 100%;
    height: 128px;
}

div.vector
{
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

div.vector input
{  
    border: none;
    text-align: left;
}

#csvInput
{
    width: 512px;
}

span.offScreen
{
    position: absolute;
    top: -1000px;
}